apiVersion: v1
kind: Service
metadata:
  name: vulnerable-app-service
  labels:
    app: vulnerable-app
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: vulnerable-app
